<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Resources/Mathijo-Icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/BestellteProdukte.css" />
    <link rel="stylesheet" href="~/css/Common.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin - Mathijo</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home/StartView">Mathijo</a>
            <a class="navbar-brand" href="/Home/Produktarten">Produktarten</a>
            <a class="navbar-brand" href="/Home/Produkte">Produkte</a>
            <a class="navbar-brand" href="/Home/Tische">Tische</a>
            <a class="navbar-brand" href="/Home/Bestellungen">Bestellungen</a>
            <a class="navbar-brand" href="/Home/BestellteProdukte">Bestellte Produkte</a>
            <a class="navbar-brand" href="/Home/Umsatz">Umsatz</a>
        </div>
    </nav>
    <div class="container-fluid mainPartOrder">
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/BestellteProdukte.js" type="text/javascript"></script>
</body>
</html>